<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="slider-container">
        <div class="slider">
            <div class="card">Daraz</div>
            <div class="card">Amazon</div>
            <div class="card">eBay</div>
            <div class="card">Yahoo</div>
            <div class="card">Elo</div>
            <div class="card">More</div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
